/* Меню боковой панели */
.sidepanel {
    width: 0; /* 0 ширина-измените это с помощью JavaScript */
    position: fixed; /* Оставаться на месте */
    z-index: 1; /* Оставайтесь на вершине */
    top: 0;
    left: 0;
    background-color: #D3E3FC; /* Черный */
    overflow-x: hidden; /* Отключить горизонтальную прокрутку */
    padding-top: 60px; /* Поместите содержимое 60px сверху */
    transition: 0.5s; /* 0.5 секунды эффект перехода для скольжения в боковой панели */
    height: 100%;
  }
  
  /* Боковая панель ссылок */
  .sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* При наведении курсора мыши на навигационные ссылки измените их цвет */
  .sidepanel a:hover {
    color: #f1f1f1;
  }
  
  /* Положение и стиль кнопки закрытия (верхний правый угол) */
  .sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Стиль кнопка, которая используется для открытия боковой панели */
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }

  @media (max-width: 540px) {
    #sidenav-open {
      visibility: hidden;
    }
  
    #sidenav-open:target {
      visibility: visible;
    }
  }